@import "tailwindcss";

@theme {
  --animate-subir-arriba-salir-abajo: subir-arriba-salir-abajo 20s linear
    infinite;

  @keyframes subir-arriba-salir-abajo {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    40% {
      transform: translateY(-100%);
      opacity: 1;
    }
    45% {
      opacity: 0;
      transform: translateY(-100%);
    }
    50% {
      opacity: 0;
      transform: translateY(150%);
    }
    55% {
      opacity: 1;
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.elemento-animado {
  animation: var(--animate-subir-arriba-salir-abajo);
}
